<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>seeing电影--总体概况</title>
</head>
<body>
	<header></header>
	<div id="wrap">
		<div id="left">
			<div>
				<span>但丁密码</span>
			</div>

			<div>
				<h4>剧情简要</h4>
				<div>
					<div><img src="../public/images/film.jpg" alt=""></div>
					<div>
						<div>
							<p>符号学学者罗伯特·兰登（汤姆·汉克斯饰）从噩梦中醒来时发现自己身处一间病房，被一堆医学仪器包围，在陌生而美丽的女医生西恩娜·布鲁克斯（菲丽希缇·琼斯饰）的提醒下，他意识到自己失忆并身受枪伤，就在迷迷糊糊还没弄明白这一切时，他又遭遇到来路不明的女杀手追杀，随之而来的毫无疑问就是一系列的逃亡和追捕......</p>
						</div>
						<div>
							<a href="#">
								<span>More</span>
								<button>></button>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div>
				<div>
					<button id="impression_cloud">印象云</button>
					<button id="positive_comment">好评列表</button>
					<button id="negative_comment">差评列表</button>
				</div>

				<div id="impression_cloud_content">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>

				<div id="positive_comment_content">
					
				</div>

				<div id="negative_comment_content">
					
				</div>
			</div>
		</div>
		<div id="center">
			<div>
				<div>
					<div>
						<h6>豆瓣评分：</h6>
						<p>9.2分</p>
					</div>
					<div>
						<h6>评论人数：</h6>
						<p>345000</p>
					</div>
				</div>
				<div>
					<div>
						<h6>电影类型：</h6>
						<p>悬疑、动作</p>
					</div>
					<div>
						<h6>上映时间</h6>
						<p>2017-01-01</p>
					</div>
				</div>
			</div>

			<div>
				<h4>评分情况</h4>
			</div>
		</div>

		<div id="right">
			<div>
				<ul>
					<li>总体概况</li>
					<li>用户画像</li>
					<li>用户口碑</li>
					<li>票房分析</li>
					<li>新闻资讯</li>
				</ul>
			</div>

			<div>
				<form>
					<input type="text">
					<button></button>
				</form>
				<textarea name="" id="" cols="30" rows="10"></textarea>
			</div>
		</div>
	</div>
	<footer></footer>
</body>
</html>