<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>seeing电影--总体概况</title>
	<link rel="stylesheet" href="../public/stylesheets/film_general_situation.css">
	<link rel="stylesheet" href="../public/stylesheets/header.css">
	<link rel="stylesheet" href="../public/stylesheets/footer.css">
	<script src="../public/javascript/lib/jquery-2.1.1.min.js"></script>
</head>
<body>
	<header>
		<img src="../public/images/header_logo.png" alt="seeing" class="logo">
	</header>
	<div id="wrap">
		<div id="left">
			<div class="name">
				<span>但丁密码</span>
			</div>

			<div class="general_situation">
				<h4>剧情简要</h4>
				<div class="film">
					<div class="film_pic"><img src="../public/images/film.jpg" alt=""></div>
					<div class="film_intro">
						<p>符号学学者罗伯特·兰登（汤姆·汉克斯饰）从噩梦中醒来时发现自己身处一间病房，被一堆医学仪器包围，在陌生而美丽的女医生西恩娜·布鲁克斯（菲丽希缇·琼斯饰）的提醒下，他意识到自己失忆并身受枪伤，就在迷迷糊糊还没弄明白这一切时，他又遭遇到来路不明的女杀手追杀，随之而来的毫无疑问就是一系列的逃亡和追捕......</p>
						<a href="#">
							<span>More</span>
							<button>></button>
						</a>
					</div>
				</div>
			</div>

			<div class="cento">
				<div class="cento_button">
					<button id="impression_cloud" class="active">印象云</button>
					<button id="positive_comment">好评列表</button>
					<button id="negative_comment">差评列表</button>
				</div>
				<div>
					<div id="impression_cloud_content">
						<ul>
							<li>《但丁密码》老套乏味，镜头贼晃，暮气沉沉</li>
							<li>拯救世界文明的</li>
							<li>很贪婪的，喜新厌旧</li>
							<li>内容反转，再反转</li>
							<li>有悬疑，像谍战，还有宗教文化</li>
						</ul>
					</div>

					<div id="positive_comment_content">
						<ul>
							<li><img src="../public/images/positive_comment_icon.png" alt=""><p>很可爱的片子，动物很可爱。但是故意的剧情和解说有点画蛇添足，也许小朋友会喜欢这种设定吧，看他们好开心。</p></li>
							<li><img src="../public/images/positive_comment_icon.png" alt=""><p>把自然现象动物相处加之过于成人的视角，其实不觉得多奇妙可爱，像一种过度诠释。而静静观赏，配以合适音乐，比像逗小丑一样去配音揣度更加真实自然。给人想象空间。</p></li>
						</ul>
					</div>

					<div id="negative_comment_content">
						<ul>
							<li><img src="../public/images/negative_comment_icon.png" alt=""><p>很可爱的片子，动物很可爱。但是故意的剧情和解说有点画蛇添足，也许小朋友会喜欢这种设定吧，看他们好开心。</p></li>
							<li><img src="../public/images/negative_comment_icon.png" alt=""><p>把自然现象动物相处加之过于成人的视角，其实不觉得多奇妙可爱，像一种过度诠释。而静静观赏，配以合适音乐，比像逗小丑一样去配音揣度更加真实自然。给人想象空间。</p></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="center">
			<div class="info">
				<ul>
					<li class="douban_score">
						<h6>豆瓣评分：</h6>
						<p>9.2分</p>
					</li>
					<li class="comment_people">
						<h6>评论人数：</h6>
						<p>345000</p>
					</li>
					<li class="film_style">
						<h6>电影类型：</h6>
						<p>悬疑、动作</p>
					</li>
					<li class="release_time">
						<h6>上映时间：</h6>
						<p>2017-01-01</p>
					</li>
				</ul>
			</div>

			<div class="score">
				<h4>评分情况</h4>
				<!-- <div id="score_bar" style="height:200px;"></div> -->
				<ul>
					<li><span class="star">五星</span><span class="bar"></span><span class="percent"></span></li>
					<li><span class="star">四星</span><span class="bar"></span><span class="percent"></span></li>
					<li><span class="star">三星</span><span class="bar"></span><span class="percent"></span></li>
					<li><span class="star">二星</span><span class="bar"></span><span class="percent"></span></li>
					<li><span class="star">一星</span><span class="bar"></span><span class="percent"></span></li>
				</ul>
			</div>
		</div>

		<div id="right">
			<div class="nav">
				<ul>
					<li><a href="#"><img src="../public/images/film_general_icon.png" alt=""><span>总体概况</span></a></li>
					<li><a href="#"><img src="../public/images/personas_icon.png" alt=""><span>用户画像</span></a></li>
					<li><a href="#"><img src="../public/images/word_of_mouth_icon.png" alt=""><span>用户口碑</span></a></li>
					<li><a href="#"><img src="../public/images/box_office_analysis_icon.png" alt=""><span>票房分析</span></a></li>
					<li><a href="#"><img src="../public/images/news_icon.png" alt=""><span>新闻资讯</span></a></li>
				</ul>
			</div>

			<div class="qa">
				<form>
					<input type="text">
					<button>QA</button>
				</form>
				<div class="answer"><p></p></div>
			</div>
		</div>
	</div>

	<footer>
		<p>copyright©广东外语外贸大学 智能信息处理研究所</p>
	</footer>
	<script src="../public/javascript/echarts-2.2.7/build/dist/echarts.js"></script>
	<script src="../public/javascript/score_bar.js"></script>
	<script src="../public/javascript/cento_change.js"></script>
</body>
</html>