<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>seeing电影--总体概况</title>
</head>
<body>
	<header></header>
	<div id="wrap">
		<div id="left">
			<div>
				<span>但丁密码</span>
			</div>

			<div>
				<h4>剧情简要</h4>
				<div>
					<div><img src="" alt=""></div>
					<div>
						<div>
							<p></p>
						</div>
						<div>
							<a href="#">
								<span>More</span>
								<button>></button>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div>
				<div>
					<button id="impression_cloud">印象云</button>
					<button id="positive_comment">好评列表</button>
					<button id="negative_comment">差评列表</button>
				</div>

				<div id="impression_cloud_content">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>

				<div id="positive_comment_content">
					
				</div>

				<div id="negative_comment_content">
					
				</div>
			</div>
		</div>
		<div id="center">
			<div>
				<div>
					<div>
						<span>豆瓣评分：</span>
						<span>9.2分</span>
					</div>
					<div>
						<span>评论人数</span>
					</div>
				</div>
			</div>
		</div>
		<div id="right"></div>
	</div>
	<footer></footer>
</body>
</html>