<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>seeing搜索结果</title>
	<link rel="stylesheet" href="../public/stylesheets/lib/perfect-scrollbar.min.css">
	<link rel="stylesheet" href="../public/stylesheets/search.css">
	<link rel="stylesheet" href="../public/stylesheets/header.css">
	<link rel="stylesheet" href="../public/stylesheets/footer.css">
	<script src="../public/javascript/lib/jquery-2.1.1.min.js"></script>
    <script src="../public/javascript/lib/perfect-scrollbar.jquery.min.js"></script>
</head>
<body>
	<header>
		<img src="../public/images/header_logo.png" alt="seeing logo" class="logo">
	</header>

	<div id="wrap">
		<div id="center">
			<div id="Echart" style="width: 540px; height: 640px"></div>
		</div>

		<div id="left">
			<div id="film_card" class="card film_card">

				<div class="label">但丁密码的电影图谱</div>

				<div class="content">

					<div class="img">
						<img src="../public/images/card.png" alt="">
					</div>

					<div class="data">
						<ul>
	                        <li>
	                            <h4>豆瓣评分：</h4>
	                            <p><span>6.7</span> 分</p>
	                        </li> 
	                        <li>
	                            <h4>票房成绩：</h4>
	                            <p><span>1.2858</span>亿元</p>
	                        </li>              
	                    </ul>
					</div>

					<div class="back">
	                     <ul>
	                        <li>
	                            <h4>片长：</h4>
	                            <p><span>122</span>分钟</p>
	                        </li> 
	                        <li>
	                            <h4>国家地区：</h4>
	                            <p><span>美国/匈牙利</span></p>
	                        </li>              
	                    </ul>          
	                </div>
	                
	                <div class="time">
	                    <p><h4>上映日期：</h4><span>2016年10月28日</span></p>
	                </div>

					<div class="cloud">
						<h4>关键词列表：</h4>
						<ul>
							<li>哈佛大学</li>
							<li>符号学</li>
							<li>罗伯特·兰登</li>
							<li>双重威胁</li>
							<li>在失忆与追杀</li>
						</ul>
					</div>
				</div>
			</div>
	        
	        <!-- 代表影评卡片 -->

	        <div id="comment_card" class="card comment_card">

	            <div class="label">但丁密码的电影图谱</div>

	            <div class="content">

	                <div class="img">
	                    <img src="../public/images/card.png" alt="">
	                </div>

	                <div class="text">
	                    <p>《但丁密码》这部电影最明确的特点是趋于同一种风格，融合了解密符号学、悬疑凶杀推理、宗教历史、历史古迹探秘等等元素。这些元素单拎出来都是电影的特点，观众们看这类电影，享受的不仅仅是探秘揭秘的推理快感，还有对宗教、历史、文学、符号学的认知快感。这种观影中的知识学习，是这个电影受到追捧的重要原因。</p>
	                </div>

	                <div class="author">
	                    <p>(1509网评)</p>
	                </div>
	            </div>
	        </div>

	        <!-- 出品公司卡片 -->

	        <div id="company_card" class="card company_card">

	            <div class="label">但丁密码的电影图谱</div>

	            <div class="content">

	                <div class="img">
	                    <img src="../public/images/card.png" alt="">
	                </div>
	                
	                <div class="name">
	                    <h3>哥伦比亚电影集团公司</h3>
	                </div>

	                <div class="works">
	                    <h4>代表作品：</h4>
	                    <ul>
	                        <li>《教父》</li>
	                        <li>《夺宝奇兵》</li>
	                        <li>《阿甘正传》</li>
	                        <li>《变形金刚》</li>
	                    </ul>
	                </div>

	                <div class="future">
	                    <h4>未来作品：</h4>
	                    <ul>
	                        <li>《无敌破坏王2》</li>
	                    </ul>
	                </div>
	            </div>
	        </div>

	        <!-- 风格简介卡片 -->

	        <div id="style_card" class="card style_card">

	            <div class="label">但丁密码的电影图谱</div>

	            <div class="content">
	                
	                <div class="img">
	                    <img src="../public/images/card.png" alt="">
	                </div>

	                <div class="style">
	                    <h4>风格：</h4>
	                    <ul>
	                        <li>剧情</li>
	                        <li>悬疑</li>
	                    </ul>
	                </div>
	            </div>
	        </div>

	        <!-- 获奖情况卡片 -->

	        <div id="awards_card" class="card awards_card">

	            <div class="label">但丁密码的电影图谱</div>

	            <div class="content">

	                <div class="img">
	                    <img src="../public/images/card.png" alt="">
	                </div>

	                <div class="record">
	                    <h4>获奖情况：</h4>
	                    <ul>
	                        <li>
	                            <p>2013    马克·鲁法洛</p>
	                            <p>第85届奥斯卡金像奖最佳导演（获奖）</p>
	                        </li>

	                        <li>
	                            <p>2013    马克·鲁法洛</p>
	                            <p>第85届奥斯卡金像奖最佳导演（获奖）</p>
	                        </li>
	                        
	                        <li>
	                            <p>2013    马克·鲁法洛</p>
	                            <p>第85届奥斯卡金像奖最佳导演（获奖）</p>
	                        </li>

	                        <li>
	                            <p>2013    马克·鲁法洛</p>
	                            <p>第85届奥斯卡金像奖最佳导演（获奖）</p>
	                        </li>

	                        <li>
	                            <p>2013    马克·鲁法洛</p>
	                            <p>第85届奥斯卡金像奖最佳导演（获奖）</p>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>

	        <!-- 剧情简介卡片 -->

	        <div id="plot_card" class="card plot_card">

	            <div class="label">但丁密码的电影图谱</div>

	            <div class="content">

	                <div class="img">
	                    <img src="../public/images/card.png" alt="">
	                </div>
	                
	                <div class="text">
	                    <p>符号学学者罗伯特·兰登（汤姆·汉克斯饰）从噩梦中醒来时发现自己身处一间病房，被一堆医学仪器包围，在陌生而美丽的女医生西恩娜·布鲁克斯（菲丽希缇·琼斯饰）的提醒下，他意识到自己失忆并身受枪伤，就在迷迷糊糊还没弄明白这一切时，他又遭遇到来路不明的女杀手追杀，随之而来的毫无疑问就是一系列的逃亡和追捕，而唯一能够试图摆脱这一切困境的关键，只有手中意外发现的一幅小小的图画...</p>
	                </div>
	                <div class="more">
	                    <a href="#" class="more_button"><p>More</p><button>></button></a>
	                </div>
	            </div>
	        </div>

	        <!-- 演员介绍简介卡片 -->

	        <div id="actor_card" class="card actor_card">

	            <div class="label">但丁密码的电影图谱</div>

	            <div class="content">

	                <div class="img">
	                    <img src="../public/images/card.png" alt="">
	                </div>

	                <div class="name">
	                    <h3>汤姆·汉克斯</h3>
	                </div>

	                <ul class="info">

	                    <li class="popularity">
	                        <h4>受欢迎程度：</h4>
	                        <p><span>78</span></p>
	                    </li>

	                    <li class="country">
	                        <h4>国籍：</h4>
	                        <p><span>美国</span></p>
	                    </li>
	                </ul>

	                <div class="date">
	                    <p><h4>出生日期：</h4>1956年7月9日</p>
	                </div>

	                <div class="works">
	                    <h4>代表作品：</h4>
	                    <ul>
	                        <li>《美丽心灵》</li>
	                        <li>《天使与魔鬼》</li>
	                        <li>《达芬奇密码》</li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	        
	        <!-- 导演介绍简介卡片 -->

	        <div id="director_card" class="card director_card">

	            <div class="label">但丁密码的电影图谱</div>

	            <div class="content">

	                <div class="img">
	                    <img src="../public/images/card.png" alt="">
	                </div>

	                <div class="name">
	                    <h3>朗霍华德</h3>
	                </div>
	                
	                <div class="popularity">
	                    <h4>受欢迎程度：</h3>
	                    <p><span>88</span></p>
	                </div>

	                <div class="works">
	                    <h4>代表作品：</h4>
	                    <ul>
	                        <li>《美丽心灵》</li>
	                        <li>《天使与魔鬼》</li>
	                        <li>《达芬奇密码》</li>
	                        <li>《阿波罗十三号》</li>
	                    </ul>
	                </div>
	            </div>
	        </div>

	        <!-- 编剧介绍简介卡片 -->

	        <div id="scriptwriter_card" class="card scriptwriter_card">

	            <div class="label">但丁密码的电影图谱</div>

	            <div class="content">

	                <div class="img">
	                    <img src="../public/images/card.png" alt="">
	                </div>

	                <div class="name">
	                    <h3>大卫·凯普</h3>
	                </div>

	                <div class="works">
	                    <h4>代表作品：</h4>
	                    <ul>
	                        <li>《美丽心灵》</li>
	                        <li>《天使与魔鬼》</li>
	                        <li>《达芬奇密码》</li>
	                        <li>《阿波罗十三号》</li>
	                    </ul>
	                </div>
	            </div>
	        </div>

	        <!-- 角色介绍简介卡片 -->

	        <div id="role_card" class="card role_card">

	            <div class="label">但丁密码的电影图谱</div>

	            <div class="content">

	                <div class="img">
	                    <img src="../public/images/card.png" alt="">
	                </div>

	                <div class="name">
	                    <h3>兰登教授</h3>
	                </div>

	                <div class="text">
	                    <h4>角色介绍：</h4>
	                    <p>哈佛大学符号学教授，对密码学研究表现狂热的兴趣。</p>
	                </div>
	            </div>
	        </div>

	        <!-- 题材背景简介卡片 -->

	        <div id="background_card" class="card background_card">

	            <div class="label">但丁密码的电影图谱</div>

	            <div class="content">

	                <div class="img">
	                    <img src="../public/images/card.png" alt="">
	                </div>
	                
	                <div class="text">
	                    <p>该片讲述了哈佛大学符号学教授罗伯特兰登在失忆与追杀的双重威胁下，他穿越欧洲与时间赛跑，竭力阻止一场祸及全球的阴谋。</p>
	                </div>

	                <div class="works">
	                    <h4>相似的电影题材：</h4>
	                    <ul>
	                        <li>《达芬奇密码》</li>
	                        <li>《天使与魔鬼》</li>
	                    </ul>
	                </div>
	            </div>
	        </div>
		</div>

		<div id="right">
			<div id="search_result">

				<!-- 搜索框 -->

	            <div class="search">
	                <form>
	                    <input type="text">
	                    <button type="submit">
	                        <img src="../public/images/index_search.png" alt="search">
	                    </button>
	                </form>
	            </div>
				
				<!-- 搜索结果 -->

	            <div class="result" id="result_scrollbar">
	                <ul>
	                    <li>
	                        <div class="title">
	                            <a href="#"><h4>星球大战外传：侠盗一号</h4></a>
	                            <span>>>></span>
	                        </div>
	                        
	                        <div class="content">
	                            <div class="pic">
	                                <img src="../public/images/search_result.png" alt="">
	                            </div>
	                            <div class="text">
	                                <p>类型：<span>科幻、动作</span></p>
	                                <p>电影票房：<span>2316.8</span>万</p>
	                                <p>豆瓣评分：<span>7.6</span></p>
	                                <p>上映日期：<span>2017-01-06</span></p>
	                            </div> 
	                        </div>
	                    </li>

	                    <li>
	                        <div class="title">
	                            <a href="#"><h4>星球大战外传：侠盗一号</h4></a>
	                            <span>>>></span>
	                        </div>
	                        
	                        <div class="content">
	                            <div class="pic">
	                                <img src="../public/images/search_result.png" alt="">
	                            </div>
	                            <div class="text">
	                                <p>类型：<span>科幻、动作</span></p>
	                                <p>电影票房：<span>2316.8</span>万</p>
	                                <p>豆瓣评分：<span>7.6</span></p>
	                                <p>上映日期：<span>2017-01-06</span></p>
	                            </div> 
	                        </div>
	                    </li>

	                    <li>
	                        <div class="title">
	                            <a href="#"><h4>星球大战外传：侠盗一号</h4></a>
	                            <span>>>></span>
	                        </div>
	                        
	                        <div class="content">
	                            <div class="pic">
	                                <img src="../public/images/search_result.png" alt="">
	                            </div>
	                            <div class="text">
	                                <p>类型：<span>科幻、动作</span></p>
	                                <p>电影票房：<span>2316.8</span>万</p>
	                                <p>豆瓣评分：<span>7.6</span></p>
	                                <p>上映日期：<span>2017-01-06</span></p>
	                            </div> 
	                        </div>
	                    </li>

	                    <li>
	                        <div class="title">
	                            <a href="#"><h4>星球大战外传：侠盗一号</h4></a>
	                            <span>>>></span>
	                        </div>
	                        
	                        <div class="content">
	                            <div class="pic">
	                                <img src="../public/images/search_result.png" alt="">
	                            </div>
	                            <div class="text">
	                                <p>类型：<span>科幻、动作</span></p>
	                                <p>电影票房：<span>2316.8</span>万</p>
	                                <p>豆瓣评分：<span>7.6</span></p>
	                                <p>上映日期：<span>2017-01-06</span></p>
	                            </div> 
	                        </div>
	                    </li>
	                </ul>
	            </div>
	        </div>
		</div>
	</div>
	
	<footer>
		<p>copyright©广东外语外贸大学 智能信息处理研究所</p>
	</footer>

	<script src="../public/javascript/lib/echarts-2.2.7/build/dist/echarts.js"></script>

    <script src="../public/javascript/relation_graph.js"></script>
    <script>
    	$(document).ready(function ($) {
	        $('#result_scrollbar').perfectScrollbar({wheelSpeed: 0.5});
	     });
    </script>
</body>
</html>