*{
	margin: 0px;
	padding: 0px;
}
html{
	min-height: 100%;	
	position: relative;	
}
body{
	height: 100%;
	
	background: url('../images/background.png') no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}
.relation_page{
	min-width: 880px;
	padding-bottom: 46px;
	*zoom:1;
}
.relation_page:after{
	display: block;
	content: '.';
	height: 0px;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

#Echart{
	padding-top: 40px;
	padding-bottom: 40px;
	float: left;
	margin-left: 60px;
}

#search_result{
	padding-top: 80px;
	width:320px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 40px;
	float: right;

}

#search_result .search{
	margin-bottom: 40px;
}

#search_result .search form{
	*zoom:1;
}

#search_result .search form:after{
	display: block;
	content: '.';
	height: 0px;
	clear: both;
	overflow: hidden;
	visibility: hidden;	
}

#search_result .search input{
	width: 280px;
	height: 36px;
	border: 0;
	background-color: rgba(13,143,143,0.19);
	outline: none;
	color: #fff;
	font-size: 20px;
	text-indent: 10px;
	float: left;
}

#search_result .search button{
	background-color: rgba(0,255,255,0.48);
	height: 36px;
	width: 40px;
	border: 0;
	outline: none;
	float: left;
	cursor: pointer;
}
#search_result .result{
	height: 480px;
	overflow: auto;
}
#search_result .result ul{
	list-style: none;
}
#search_result .result ul li{
	display: block;
	margin-bottom: 20px;
}
#search_result .result .title{
	/*clear: both;*/
}
#search_result .result .title h4{
	display: inline-block;
	font-size: 16px;
	text-decoration: underline;
	color: #3dffff;
}
#search_result .result .title span{
	font-size: 16px;
	color: #3dffff;
	font-weight: bold;
}

#search_result .result .content{
	color: #fff;
	*zoom:1;
}
#search_result .result .content:after{
	display: block;
	content: '.';
	height: 0px;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
#search_result .result .content .pic{
	float: left;
	margin-top: 20px;
}

#search_result .result .content .text{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
#search_result .result .content .text p{
	margin-top: 8px;
}
/*卡片公用样式*/

.card{
	float: left;
	width: 280px;
	margin-top: 80px;
	margin-bottom: 40px;
	color:#cdcdcd;
	font-family: "Microsoft Yahei";
	font-size: 14px;

}
.card .label{
	background-color: rgba(1,23,32,0.55);
	margin-bottom: 25px;
	box-shadow:2px 2px 4px 2px rgba(0,0,0,0.6);
	height: 30px;
	font-size: 18px;
	color: #38eef0;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 1px;

}
.card .content{
	background-color: rgba(1,23,32,0.7);
	box-shadow:2px 2px 4px 2px rgba(0,0,0,0.6);
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
}
.card ul{
	list-style: none;
	margin-left: 5px;
	margin-top: 10px;
}
.card li{
	display: inline-block;
	margin-right: 15px;
}
.card img{
	width: 105px;
	height: 105px;
	border-radius: 50%;
	border: 0px;
	padding-top: 25px;
	padding-bottom:20px;
	position: relative;
	left: 50%;
	margin-left: -52.5px;
}
.card .more {
	height: 20px;
	position: relative;
	margin-top: 15px;
}
.card .more_button{
	text-decoration: none;
	position: absolute;
	right: 0px;
}
.card .more_button a{

	display: block;
}
.card .more_button p{
	display: inline-block;
	font-family: "Microsoft Yahei";
	color: #36f8ff;
	font-size: 14px;
}
.card .more_button button{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	line-height: 14px;
	border: 1px solid #36f8ff;
	background-color: rgba(0,0,0,0);
	font-family: "Microsoft Yahei";
	color: #36f8ff;
	font-size: 14px;
	margin-left: 5px;
}

/*电影卡片*/

#film_card{
 	display: block;
 	margin-left: 20px;
}
#film_card .time{
	border-top: 1px solid #0e4a60;
	line-height: 50px;
	text-align: left;
}
#film_card .time h4{
	display: inline-block;

}
#film_card .data h4{
	margin-bottom: 10px;
}
#film_card .data ul{
	margin-left: 0px;
}
#film_card .data li{
	margin-right: 0px;
	width: 120px;
}
#film_card .data span{
	color: #ffb472;
	font-size: 18px;
	margin-right: 5px;
	margin-left: 10px;
}
#film_card .back{
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #0e4a60;
}
#film_card .back h4{
	margin-bottom: 10px;
}
#film_card .back ul{
	margin-left: 0px;
}
#film_card .back li{
	margin-right: 0px;
	width: 120px;
}

#film_card .cloud{
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid #0e4a60;
}
#film_card .cloud ul li{
	text-decoration: underline;
	min-width: 120px;
	margin-right: 0px;
	margin-bottom: 5px;
}

/*电影评价*/

#comment_card{
	display: none;
}
#comment_card .author{
	color:#a9a9a9;
	font-size:12px;
	margin-top: 5px;
}

/*发行公司*/

#company_card{
	display: none;
}
#company_card .name h3{
	text-align: center;
	color: #30d0d3;
	font-size: 18px;
	margin-bottom: 20px;
}
#company_card .works{
	margin-top: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-top: 1px solid #0e4a60;
	border-bottom: 1px solid #0e4a60;
}
#company_card li{
	margin-right: 0px;
	min-width: 120px;
	margin-bottom: 5px;
}


/*风格简介*/
#style_card{
	display: none;
}


/*获奖情况*/

#awards_card{
	display: none;
}
#awards_card ul{
	margin-left: 0px;
	margin-top: 20px;
}
#awards_card li{
	display: block;
	margin-bottom: 20px;
	margin-right: 0px;
}

/*剧情简析*/
#plot_card{
	display: none;
}

/*演员介绍*/
#actor_card{
	display: none;
}
#actor_card .name h3{
	text-align: center;
	color: #30d0d3;
	font-size: 18px;
}
#actor_card .works{
	margin-top: 20px;
	padding-top: 15px;
	border-top: 1px solid #0e4a60;
}
#actor_card .works li{
	min-width: 120px;
	margin-right: 0px;
}
#actor_card .info{
	border-top: 1px solid #0e4a60;
	padding-top: 15px;
	margin-top: 20px;
	margin-left: 0px
}
#actor_card .popularity,#actor_card .country{
	width: 120px;
	margin-right: 0px;
}
#actor_card .info h4{
	margin-bottom: 10px;
}
#actor_card .info span{
	color: #ffb472;	
	font-size: 18px;
	margin-left: 10px;
}
#actor_card .date{
	border-top: 1px solid #0e4a60;
	padding-top: 15px;
	margin-top: 20px;
}
#actor_card .date h4{
	display: inline-block;
}

/*题材背景*/
#background_card{
	display: none;
}
#background_card .works{
	margin-top: 20px;
	padding-top: 15px;
	border-top: 1px solid #0e4a60;
}

/*导演介绍*/
#director_card{
	display: none;
}
#director_card .name{
	text-align: center;
	color: #30d0d3;
	font-size: 18px;
}
#director_card .popularity {
	margin-top: 20px;
	padding-top: 15px;
	border-top: 1px solid #0e4a60;
}
#director_card .popularity h4{
	margin-bottom: 10px;
}
#director_card .popularity span{
	color: #ffb472;
	font-size: 18px;
	margin-left: 10px;
}
#director_card .works{
	margin-top: 20px;
	padding-top: 15px;
	border-top: 1px solid #0e4a60;
}
#director_card .works li{
	min-width: 120px;
	margin-right: 0px;
}


/*编剧介绍*/
#scriptwriter_card{
	display: none;
}
#scriptwriter_card .name{
	text-align: center;
	color: #30d0d3;
	font-size: 18px;
}
#scriptwriter_card .works{
	margin-top: 20px;
	padding-top: 15px;
	border-top: 1px solid #0e4a60;
}
#scriptwriter_card .works li{
	min-width: 120px;
	margin-right: 0px;
}

/*角色介绍*/
#role_card{
	display: none;
}
#role_card .name{
	text-align: center;
	color: #30d0d3;
	font-size: 18px;
}
#role_card .text{
	margin-top: 20px;
	padding-top: 15px;
	border-top: 1px solid #0e4a60;
}
#role_card .text h4{
	margin-bottom: 10px;
}
#role_card .text p{
	margin-left: 5px;
}

/*音乐原声*/
/*#music_card{
	display: none;
}
#music_card .info li{
	display: block;
	margin-right: 0px;
}
#music_card .info span{
	margin-right: 30px;
	display: inline-block;
	width: 60px;
}*/