*{
	margin: 0px;
	padding: 0px;
}
html{
	min-height: 100%;	
	position: relative;	
}
body{
	height: 100%;
	
	background: url('../images/background.png') no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}
.relation_page{
	min-width: 880px;
	padding-bottom: 46px;
	*zoom:1;
}
.relation_page:after{
	display: block;
	content: '.';
	height: 0px;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

#Echart{
	padding-top: 40px;
	padding-bottom: 40px;
	float: left;
	margin-left: 40px;
}

/*卡片公用样式*/

.card{
	float: right;
	width: 280px;
	margin-top: 80px;
	margin-bottom: 40px;
	color:#cdcdcd;
	font-family: "Microsoft Yahei";
	font-size: 14px;

}
.card .label{
	background-color: rgba(1,23,32,0.55);
	margin-bottom: 25px;
	box-shadow:2px 2px 4px 2px rgba(0,0,0,0.6);
	height: 30px;
	font-size: 18px;
	color: #38eef0;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 1px;

}
.card .content{
	background-color: rgba(1,23,32,0.7);
	box-shadow:2px 2px 4px 2px rgba(0,0,0,0.6);
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
}
.card ul{
	list-style: none;
	margin-left: 5px;
	margin-top: 10px;
}
.card li{
	display: inline-block;
	margin-right: 15px;
}
.card img{
	width: 105px;
	height: 105px;
	border-radius: 50%;
	border: 0px;
	padding-top: 25px;
	padding-bottom:20px;
	position: relative;
	left: 50%;
	margin-left: -52.5px;
}
.card .more {
	height: 20px;
	position: relative;
	margin-top: 15px;
}
.card .more_button{
	text-decoration: none;
	position: absolute;
	right: 0px;
}
.card .more_button a{

	display: block;
}
.card .more_button p{
	display: inline-block;
	font-family: "Microsoft Yahei";
	color: #36f8ff;
	font-size: 14px;
}
.card .more_button button{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	line-height: 14px;
	border: 1px solid #36f8ff;
	background-color: rgba(0,0,0,0);
	font-family: "Microsoft Yahei";
	color: #36f8ff;
	font-size: 14px;
	margin-left: 5px;
}

/*电影卡片*/

#film_card{
 	display: none;
}
#film_card .time{
	border-top: 1px solid #0e4a60;
	line-height: 50px;
	text-align: left;
}
#film_card .time h4{
	display: inline-block;

}
#film_card .data h4{
	margin-bottom: 10px;
}
#film_card .data ul{
	margin-left: 0px;
}
#film_card .data li{
	margin-right: 0px;
	width: 120px;
}
#film_card .data span{
	color: #ffb472;
	font-size: 18px;
	margin-right: 5px;
	margin-left: 10px;
}
#film_card .back{
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #0e4a60;
}
#film_card .back h4{
	margin-bottom: 10px;
}
#film_card .back ul{
	margin-left: 0px;
}
#film_card .back li{
	margin-right: 0px;
	width: 120px;
}

#film_card .cloud{
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid #0e4a60;
}
#film_card .cloud ul li{
	text-decoration: underline;
	min-width: 120px;
	margin-right: 0px;
	margin-bottom: 5px;
}

/*电影评价*/

#comment_card{
	display: none;
}
#comment_card .author{
	color:#a9a9a9;
	font-size:12px;
	margin-top: 5px;
}

/*发行公司*/

#company_card{
	display: none;
}
#company_card .name h3{
	text-align: center;
	color: #30d0d3;
	font-size: 18px;
	margin-bottom: 20px;
}
#company_card .works{
	margin-top: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-top: 1px solid #0e4a60;
	border-bottom: 1px solid #0e4a60;
}
#company_card li{
	margin-right: 0px;
	min-width: 120px;
	margin-bottom: 5px;
}


/*风格简介*/
#style_card{
	display: none;
}


/*获奖情况*/

#awards_card{
	display: none;
}
#awards_card ul{
	margin-left: 0px;
	margin-top: 20px;
}
#awards_card li{
	display: block;
	margin-bottom: 20px;
	margin-right: 0px;
}

/*剧情简析*/
.card.plot_card{
	display: none;
}

/*人物介绍*/
#actor_card{
	display: none;
}
#actor_card .name h3{
	text-align: center;
	color: #30d0d3;
	font-size: 18px;
}
#actor_card .works{
	margin-top: 20px;
	padding-top: 15px;
	border-top: 1px solid #0e4a60;
}
#actor_card .info{
	border-top: 1px solid #0e4a60;
	padding-top: 15px;
	margin-top: 20px;
	margin-left: 0px
}
#actor_card .popularity{
	width: 120px;
	margin-right: 0px;
}
#actor_card .info h4{
	/*margin-bottom: 10px;*/
}
#actor_card .info p{
	margin-top: 10px;
}
#actor_card .popularity span{
	color: #ffb472;
	
	font-size: 18px;
	margin-left: 10px;
}
#actor_card .country{
	width: 120px;
	margin-right: 0px;
}
#actor_card .date{
	border-top: 1px solid #0e4a60;
	padding-top: 15px;
	margin-top: 20px;
}
#actor_card .date h4{
	display: inline-block;
}

/*题材背景*/
#background_card{
	display: none;
}
#background_card .works{
	margin-top: 20px;
	padding-top: 15px;
	border-top: 1px solid #0e4a60;
}

/*音乐原声*/
/*#music_card{
	display: none;
}
#music_card .info li{
	display: block;
	margin-right: 0px;
}
#music_card .info span{
	margin-right: 30px;
	display: inline-block;
	width: 60px;
}*/