<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>seeing—票房分析</title>
	<link rel="stylesheet" href="../../public/stylesheets/single_film/box_office_analysis.css">
	<link rel="stylesheet" href="../../public/stylesheets/header.css">
	<link rel="stylesheet" href="../../public/stylesheets/footer.css">
</head>
<body>
	<header>
		<a href="../index.html"><img src="../../public/images/header_logo.png" alt="seeing logo" class="logo"></a>
	</header>

	<div id="wrap">

		<div id="left">
			<div class="name">
				<span>但丁密码</span>
			</div>

			<div class="title">
				<p>票房预估：<span>12345.6万</span></p>
			</div>

			<div class="analysis">
				<table>
					<thead>
						<tr>
							<td>上映周数</td>
							<td>上映时间</td>
							<td>场均人次(人)</td>
							<td>单周票房(万)</td>
							<td>累计票房(万)</td>
							<td>上映天数</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>4周</td>
							<td>2017年1月1日</td>
							<td>300</td>
							<td>300</td>
							<td>4000</td>
							<td>28</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>			
		</div>

		<div id="right">
			<div class="nav">
				<ul>
					<li><a href="general_situation.html"><span class="icon icon1"></span><span>总体概况</span></a></li>
					<li><a href="persona.html"><span class="icon icon2"></span><span>用户画像</span></a></li>
					<li><a href="user_reputation.html"><span class="icon icon3"></span><span><span>用户口碑</span></a></li>
					<li class="active"><a href="#"><span class="icon icon4"></span><span>票房分析</span></a></li>
					<li><a href="news.html"><span class="icon icon5"></span><span>新闻资讯</span></a></li>
				</ul>
			</div>

			<div class="qa">
				<form>
					<input type="text">
					<button>QA</button>
				</form>
				<div class="answer"><p></p></div>
			</div>
		</div>
	</div>

	<footer>
		<p>copyright©广东外语外贸大学 智能信息处理研究所</p>
	</footer>
</body>
</html>