<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>seeing——人物画像——基本属性</title>
	<link rel="stylesheet" href="../../public/stylesheets/single_film/box_office_analysis.css">
	<link rel="stylesheet" href="../../public/stylesheets/header.css">
	<link rel="stylesheet" href="../../public/stylesheets/footer.css">
</head>
<body>
	<header>
		<img src="../../public/images/header_logo.png" alt="seeing" class="logo">
	</header>

	<div id="wrap">

		<div id="left">
			<div class="name">
				<span>但丁密码</span>
			</div>

			<!-- <div class="tab_change_buttons">
				<ul>
					<li class="active"><a href="#">基本属性</a></li>
					<li><a href="#">地区分布</a></li>
					<li><a href="#">背景特征</a></li>
					<li><a href="#">影片关注点</a></li>
					<li><a href="#">偏好电影</a></li>
				</ul>
			</div> -->

			<div class="title">
				<p>票房预估：<span>12345.6万</span></p>
				<p>票房走势 >>></p>
			</div>

			<div id="line_chart">
				
			</div>
		</div>

		<div id="right">
			<div class="nav">
				<ul>
					<li><a href="#"><img src="../../public/images/film_general_icon.png" alt=""><span>总体概况</span></a></li>
					<li><a href="#"><img src="../../public/images/personas_icon.png" alt=""><span>用户画像</span></a></li>
					<li><a href="#"><img src="../../public/images/word_of_mouth_icon.png" alt=""><span>用户口碑</span></a></li>
					<li class="active"><a href="#"><img src="../../public/images/box_office_analysis_icon.png" alt=""><span>票房分析</span></a></li>
					<li><a href="#"><img src="../../public/images/news_icon.png" alt=""><span>新闻资讯</span></a></li>
				</ul>
			</div>

			<div class="qa">
				<form>
					<input type="text">
					<button>QA</button>
				</form>
				<div class="answer"><p></p></div>
			</div>
		</div>
	</div>

	<footer>
		<p>copyright©广东外语外贸大学 智能信息处理研究所</p>
	</footer>
</body>
</html>