<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>seeing—新闻资讯</title>
	<link rel="stylesheet" href="../../public/stylesheets/lib/perfect-scrollbar.min.css">
	<link rel="stylesheet" href="../../public/stylesheets/single_film/news.css">
	<link rel="stylesheet" href="../../public/stylesheets/header.css">
	<link rel="stylesheet" href="../../public/stylesheets/footer.css">
</head>
<body>
	<header>
		<img src="../../public/images/header_logo.png" alt="seeing logo" class="logo">
	</header>

	<div id="wrap">

		<div id="left">
			<div class="name">
				<span>但丁密码</span>
			</div>

			<div class="tab_change_buttons">
				<ul>
					<li class="active" id="news">新闻</li>
					<li id="review">影评</li>
					<li id="reviews_quantity_and_score">评论量与评分</li>
					<li id="polar_score">极性分析</li>
				</ul>
			</div>

			<div class="content_container">
				<!-- 新闻 -->
				<div id="news_content">
					<div class="items_list scrollbar">
						<div class="item">
							<h5>你破解了吗？但丁的地狱密码 >>></h5>
							<h6>百度快照 2017-01-12</h6>
							<p>零烧脑密码 文/梦里诗书 当悬疑变成了旧有的套路,一再复刻过往功成的《但丁密码》终变成了一场
								令人乏味冗长的风光片,而罗伯特·兰登这一哈大教授对...</p>
						</div>

						<div class="item">
							<h5>你破解了吗？但丁的地狱密码 >>></h5>
							<h6>百度快照 2017-01-12</h6>
							<p>零烧脑密码 文/梦里诗书 当悬疑变成了旧有的套路,一再复刻过往功成的《但丁密码》终变成了一场
								令人乏味冗长的风光片,而罗伯特·兰登这一哈大教授对...</p>
						</div>

						<div class="item">
							<h5>你破解了吗？但丁的地狱密码 >>></h5>
							<h6>百度快照 2017-01-12</h6>
							<p>零烧脑密码 文/梦里诗书 当悬疑变成了旧有的套路,一再复刻过往功成的《但丁密码》终变成了一场
								令人乏味冗长的风光片,而罗伯特·兰登这一哈大教授对...</p>
						</div>

						<div class="item">
							<h5>你破解了吗？但丁的地狱密码 >>></h5>
							<h6>百度快照 2017-01-12</h6>
							<p>零烧脑密码 文/梦里诗书 当悬疑变成了旧有的套路,一再复刻过往功成的《但丁密码》终变成了一场
								令人乏味冗长的风光片,而罗伯特·兰登这一哈大教授对...</p>
						</div>
					</div>
				</div>

				<!-- 影评 -->
				<div id="review_content">
					<div class="items_list scrollbar">
						<div class="items_list scrollbar">
							<div class="item">
								<h5>薇薇安</h5>
								<p>很可爱的片子，动物很可爱。但是故意的剧情和解说有点画蛇添足，也许小朋友会喜欢这种设定吧，看他们好开心。很可爱的片子，动物很可爱。但是故意的剧情和解说有点画蛇添足，也许小朋友会喜欢这种设定吧，看他们好开心。很可爱的片子，动物很可爱。但是故意的剧情和解说有点画蛇添足，也许小朋友会喜欢这种设定吧，看他们好开心。</p>
							</div>
							
							<div class="item">
								<h5>小小呆</h5>
								<p>
									把自然现象动物相处加之过于成人的视角，其实不觉得多奇妙可爱，像一种过度诠释。而静静观赏，配以合适音乐，比像逗小丑一样去配音揣度更加真实自然。给人想象空间。把自然现象动物相处加之过于成人的视角，其实不觉得多奇妙可爱，像一种过度诠释。而静静观赏，配以合适音乐，比像逗小丑一样去配音揣度更加真实自然。给人想象空间。把自然现象动物相处加之过于成人的视角，其实不觉得多奇妙可爱，像一种过度诠释。而静静观赏，配以合适音乐，比像逗小丑一样去配音揣度更加真实自然。给人想象空间。
								</p>
							</div>

							<div class="item">
								<h5>薇薇安</h5>
								<p>很可爱的片子，动物很可爱。但是故意的剧情和解说有点画蛇添足，也许小朋友会喜欢这种设定吧，看他们好开心。很可爱的片子，动物很可爱。但是故意的剧情和解说有点画蛇添足，也许小朋友会喜欢这种设定吧，看他们好开心。很可爱的片子，动物很可爱。但是故意的剧情和解说有点画蛇添足，也许小朋友会喜欢这种设定吧，看他们好开心。</p>
							</div>
						</div>
					</div>
				</div>

				<!-- 评论量与评分 -->
				<div id="reviews_quantity_and_score_content">
					<div id="reviews_quantity_and_score_chart" style="height:400px;width:800px;"></div>
				</div>
				
				<!-- 极性评分 -->
				<div id="polar_score_content">
					<div id="polar_score_chart" style="height:400px;width:800px;"></div>
				</div>
			</div>
		</div>

		<div id="right">
			<div class="nav">
				<ul>
					<li><a href="general_situation.html"><img src="../../public/images/film_general_icon.png" alt=""><span>总体概况</span></a></li>
					<li><a href="persona.html"><img src="../../public/images/personas_icon.png" alt=""><span>用户画像</span></a></li>
					<li><a href="user_reputation.html"><img src="../../public/images/word_of_mouth_icon.png" alt=""><span>用户口碑</span></a></li>
					<li><a href="box_office_analysis.html"><img src="../../public/images/box_office_analysis_icon.png" alt=""><span>票房分析</span></a></li>
					<li  class="active"><a href="#"><img src="../../public/images/news_icon.png" alt=""><span>新闻资讯</span></a></li>
				</ul>
			</div>

			<div class="qa">
				<form>
					<input type="text">
					<button>QA</button>
				</form>
				<div class="answer"><p></p></div>
			</div>
		</div>
	</div>

	<footer>
		<p>copyright©广东外语外贸大学 智能信息处理研究所</p>
	</footer>
	
	<script src="../../public/javascript/lib/jquery-2.1.1.min.js"></script>
	<script src="../../public/javascript/lib/perfect-scrollbar.jquery.min.js"></script>
	<script src="../../public/javascript/tab_change.js"></script>
	<script src="../../public/javascript/lib/echarts.min.js"></script>
	<script src="../../public/javascript/reviews_quantity_and_score_chart.js"></script>
	<script src="../../public/javascript/polar_score_chart.js"></script>
	<script>
    	$(document).ready(function ($) {
	        $('.scrollbar').perfectScrollbar({wheelSpeed: 0.5});
	     });
    </script>
</body>
</html>