<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>seeing——用户画像</title>
	<link rel="stylesheet" href="../../public/stylesheets/single_film/persona.css">
	<link rel="stylesheet" href="../../public/stylesheets/header.css">
	<link rel="stylesheet" href="../../public/stylesheets/footer.css">
</head>
<body>
	<header>
		<img src="../../public/images/header_logo.png" alt="seeing logo" class="logo">
	</header>

	<div id="wrap">

		<div id="left">
			<div class="name">
				<span>但丁密码</span>
			</div>

			<div class="tab_change_buttons">
				<ul>
					<li class="active" id="basic_property"><a href="#">基本属性</a></li>
					<li id="area_distribution"><a href="#">地区分布</a></li>
					<li id="background_characteristics"><a href="#">背景特征</a></li>
					<li id="film_focus"><a href="#">影片关注点</a></li>
					<li id="preference_film"><a href="#">偏好电影</a></li>
				</ul>
			</div>

			<div class="content_container">
				<!-- 基本属性 -->
				<div id="basic_property_content">
					<div id="sex_ratio" style="height:480px;width:920px;"></div>
				</div>
				
				<!-- 地区分布 -->
				<div id="area_distribution_content">
					<div id="area_distribution_map" style="height:480px;width:920px;"></div>
				</div>
				
				<!-- 背景特征 -->
				<div id="background_characteristics_content">
					<div class="interest">
						<h5>兴趣爱好>>></h5>
						<div class="text">
							<p>化妆、摄影、运动</p>
						</div>
					</div>
					<div class="education_background">
						<h5>教育背景</h5>
						<div id="education_background_line" style="height:480px;width:700px;"></div>
					</div>
				</div>

				<!-- 影片关注点 -->
				<div id="film_focus_content">
					<div id="sankey_diagram" style="height:480px;width:920px;"></div>
				</div>

				<!-- 偏好电影 -->
				<div id="preference_film_content">
					<div class="film_name">
						<h5>想看电影>>></h5>
						<div class="text">
							<p>生化危机6</p>
							<p>谍影重重5</p>
							<p>超凡蜘蛛侠3</p>
						</div>
						<h5>已看电影>>></h5>
						<div class="text">
							<p>速度与激情7</p>
							<p>碟中谍5</p>
							<p>复仇者联盟2</p>
						</div>
					</div>

					<div class="film_type">
						<h5>偏好电影类型>>></h5>
						<div id="preference_film_pie" style="height:480px;width:700px;"></div>
					</div>
				</div>
			</div>
		</div>

		<div id="right">
			<div class="nav">
				<ul>
					<li><a href="#"><img src="../../public/images/film_general_icon.png" alt=""><span>总体概况</span></a></li>
					<li><a href="#"><img src="../../public/images/personas_icon.png" alt=""><span>用户画像</span></a></li>
					<li><a href="#"><img src="../../public/images/word_of_mouth_icon.png" alt=""><span>用户口碑</span></a></li>
					<li class="active"><a href="#"><img src="../../public/images/box_office_analysis_icon.png" alt=""><span>票房分析</span></a></li>
					<li><a href="#"><img src="../../public/images/news_icon.png" alt=""><span>新闻资讯</span></a></li>
				</ul>
			</div>

			<div class="qa">
				<form>
					<input type="text">
					<button>QA</button>
				</form>
				<div class="answer"><p></p></div>
			</div>
		</div>
	</div>

	<footer>
		<p>copyright©广东外语外贸大学 智能信息处理研究所</p>
	</footer>

	<script src="../../public/javascript/lib/jquery-2.1.1.min.js"></script>
	<script src="../../public/javascript/lib/echarts.min.js"></script>
	<script src="../../public/javascript/lib/china.js"></script>
	<script src="../../public/javascript/sankey_diagram.js"></script>
	<script src="../../public/javascript/education_background_line_chart.js"></script>
	<script src="../../public/javascript/preference_film_pie_chart.js"></script>
	<script src="../../public/javascript/area_distribution_map.js"></script>
	<script src="../../public/javascript/lib/highcharts/highcharts.js"></script>
	<script src="../../public/javascript/lib/highcharts/highcharts-more.js"></script>
	<script src="../../public/javascript/lib/highcharts/modules/solid-gauge.js"></script>
	<script src="../../public/javascript/persona/sex_ratio_chart.js"></script>
	<script src="../../public/javascript/tab_change.js"></script>
</body>
</html>