<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>seeing—用户口碑</title>
	<link rel="stylesheet" href="../../public/stylesheets/single_film/topic_identification.css">
	<link rel="stylesheet" href="../../public/stylesheets/header.css">
	<link rel="stylesheet" href="../../public/stylesheets/footer.css">
	<script src="../../public/javascript/lib/echarts.min.js"></script>
</head>
<body>
	<header>
		<a href="../index.html"><img src="../../public/images/header_logo.png" alt="seeing logo" class="logo"></a>
	</header>

	<div id="wrap">

		<div id="left">
			<div class="name">
				<span>但丁密码</span>
			</div>

			<div class="content_container">
				<div class="tab_change_buttons">
					<h5>口碑维度</h5>
					<a href="#"><button class="active" id="character_evaluation">人物评价</button></a>
					<a href="topic_identification.html"><button id="topic_identification">话题识别</button></a>
				</div>

				<div class="echarts_container">
					<div id="character_evaluation_force" style="width: 630px;height:480px;"></div>
				</div>

				<div class="card_container">
					<div class="card" id="card0">
						<h5>刘德华</h5>
						<p>昵称：<span>华仔、华哥</span></p>
						<p>评论涉及程度：<span>600条评论</span></p>
						<p>正向评分排名(NO)：<span>1</span></p>
						<p>负向评分排名(NO)：<span>10</span></p>
					</div>

					<div class="card" id="card1">
						<h5>刘德华</h5>
						<p>昵称：<span>华仔、华哥</span></p>
						<p>评论涉及程度：<span>600条评论</span></p>
						<p>正向评分排名(NO)：<span>1</span></p>
						<p>负向评分排名(NO)：<span>10</span></p>
					</div>

					<div class="card" id="card2">
						<h5>刘德华</h5>
						<p>昵称：<span>华仔、华哥</span></p>
						<p>评论涉及程度：<span>600条评论</span></p>
						<p>正向评分排名(NO)：<span>1</span></p>
						<p>负向评分排名(NO)：<span>10</span></p>
					</div>

					<div class="card" id="card3">
						<h5>刘德华</h5>
						<p>昵称：<span>华仔、华哥</span></p>
						<p>评论涉及程度：<span>600条评论</span></p>
						<p>正向评分排名(NO)：<span>1</span></p>
						<p>负向评分排名(NO)：<span>10</span></p>
					</div>

					<div class="card" id="card4">
						<h5>刘德华</h5>
						<p>昵称：<span>华仔、华哥</span></p>
						<p>评论涉及程度：<span>600条评论</span></p>
						<p>正向评分排名(NO)：<span>1</span></p>
						<p>负向评分排名(NO)：<span>10</span></p>
					</div>

					<div class="card" id="card5">
						<h5>刘德华</h5>
						<p>昵称：<span>华仔、华哥</span></p>
						<p>评论涉及程度：<span>600条评论</span></p>
						<p>正向评分排名(NO)：<span>1</span></p>
						<p>负向评分排名(NO)：<span>10</span></p>
					</div>
				</div>
			</div>			
		</div>

		<div id="right">
			<div class="nav">
				<ul>
					<li><a href="general_situation.html"><span class="icon icon1"></span><span>总体概况</span></a></li>
					<li><a href="persona.html"><span class="icon icon2"></span><span>用户画像</span></a></li>
					<li class="active"><a href="#"><span class="icon icon3"></span><span><span>用户口碑</span></a></li>
					<li><a href="box_office_analysis.html"><span class="icon icon4"></span><span>票房分析</span></a></li>
					<li><a href="news.html"><span class="icon icon5"></span><span>新闻资讯</span></a></li>
				</ul>
			</div>

			<div class="qa">
				<form>
					<input type="text">
					<button>QA</button>
				</form>
				<div class="answer"><p></p></div>
			</div>
		</div>
	</div>

	<footer>
		<p>copyright©广东外语外贸大学 智能信息处理研究所</p>
	</footer>

	
	<script src="../../public/javascript/lib/echarts-2.2.7/build/dist/echarts.js"></script>
	<script src="../../public/javascript/lib/jquery-2.1.1.min.js"></script>
	<script src="../../public/javascript/character_evaluation_force_chart.js"></script>
</body>
</html>